
<div ng-app="app">
    <div ng-controller="studentsCtrl" ng-init="setupIndex()">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="thumbnail" ng-repeat="student in students | filter: nameFilter | orderBy: orderAttribute:descending" class="index_profile_thumbnail">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <a href="/students/{{student.id}}"><img src="{{student.photo}}" alt="" class="index_profile_img center-block" ng-click="getId(student.id)"></a>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="caption">
                                            <h3 ng-click="getId(student.id)">
                                                <a href="/students/{{student.id}}">
                                                    {{student.first_name}}
                                                    {{student.last_name}}
                                                </a>
                                            </h3>
                                            <p>
                                                {{student.email}}</p>
                                            <p>
                                                {{student.phone_number}}</p>
                                            <p>
                                                {{student.short_bio}}</p>
                                            <p>Linkedin:
                                                {{student.linkedin_url}}</p>
                                            <p>Github:
                                                {{student.github_url}}</p>
                                            <p>Website:
                                                {{student.website_url}}</p><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="list-group">
                        Find by Name:
                        <input ng-model="nameFilter" list="names">

                        <button type="button" class="btn btn-success" ng-click="toggleOrder('name')">Reverse Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
