// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
    box-shadow: 0.3px 0.3px 0.3px 0.3px #888888;
}

.profile_img {
    padding: 10px;
    width: 17%;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
}

.capstone_img {
  width: 17%;
}

.bold_text {
  font-weight: bold;
}
